.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 780px) {
  .container {
    max-width: 780px;
  }
}

.container-xl {
  margin-inline: auto;
  padding-inline: 1.25rem;
  max-width: 640px;
}

@media (min-width: 640px) {
  .container-xl {
    max-width: 640px;
    padding-inline: 2rem;
  }
}

@media (min-width: 768px) {
  .container-xl {
    max-width: 768px;
    padding-inline: 1.5rem;
  }
}

@media (min-width: 1010px) {
  .container-xl {
    max-width: 1010px;
    padding-inline: 1rem;
  }
}

@media (min-width: 1280px) {
  .container-xl {
    max-width: 1180px;
  }
}

@media (min-width: 1600px) {
  .container-xl {
    max-width: 1600px;
  }
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.top-1\/2 {
  top: 50%;
}

.left-1\/2 {
  left: 50%;
}

.bottom-0 {
  bottom: 0px;
}

.-z-20 {
  z-index: -20;
}

.z-10 {
  z-index: 10;
}

.-z-10 {
  z-index: -10;
}

.col-span-full {
  grid-column: 1 / -1;
}

.row-start-2 {
  grid-row-start: 2;
}

.row-start-1 {
  grid-row-start: 1;
}

.m-8 {
  margin: 2rem;
}

.m-0 {
  margin: 0px;
}

.-m-4 {
  margin: -1rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-12 {
  margin-top: 3rem;
}

.-mt-32 {
  margin-top: -8rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mb-28 {
  margin-bottom: 7rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.box-border {
  box-sizing: border-box;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-1 {
  height: 0.25rem;
}

.h-\[28px\] {
  height: 28px;
}

.h-\[960px\] {
  height: 960px;
}

.h-auto {
  height: auto;
}

.h-44 {
  height: 11rem;
}

.h-full {
  height: 100%;
}

.h-\[380px\] {
  height: 380px;
}

.min-h-screen {
  min-height: 100vh;
}

.w-full {
  width: 100%;
}

.w-16 {
  width: 4rem;
}

.w-\[960px\] {
  width: 960px;
}

.w-24 {
  width: 6rem;
}

.max-w-sm {
  max-width: 24rem;
}

.max-w-\[2040px\] {
  max-width: 2040px;
}

.max-w-\[100\%\] {
  max-width: 100%;
}

.max-w-2xl {
  max-width: 42rem;
}

.max-w-full {
  max-width: 100%;
}

.flex-none {
  flex: none;
}

.flex-grow {
  flex-grow: 1;
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: var(--tw-transform);
}

.-translate-y-\[64\%\] {
  --tw-translate-y: -64%;
  transform: var(--tw-transform);
}

.transform {
  transform: var(--tw-transform);
}

.cursor-pointer {
  cursor: pointer;
}

.resize-none {
  resize: none;
}

.scroll-mt-20 {
  scroll-margin-top: 5rem;
}

.list-none {
  list-style-type: none;
}

.list-\[square\] {
  list-style-type: square;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-8 {
  gap: 2rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.border {
  border-width: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-t {
  border-top-width: 1px;
}

.border-b-2 {
  border-bottom-width: 2px;
}

.border-primary {
  --tw-border-opacity: 1;
  border-color: rgb(9 12 155 / var(--tw-border-opacity));
}

.border-transparent {
  border-color: transparent;
}

.border-secondary {
  --tw-border-opacity: 1;
  border-color: rgb(255 83 83 / var(--tw-border-opacity));
}

.border-border {
  --tw-border-opacity: 1;
  border-color: rgb(150 150 150 / var(--tw-border-opacity));
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(9 12 155 / var(--tw-bg-opacity));
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.bg-slate-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(203 213 225 / var(--tw-bg-opacity));
}

.bg-light {
  --tw-bg-opacity: 1;
  background-color: rgb(251 252 255 / var(--tw-bg-opacity));
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(255 83 83 / var(--tw-bg-opacity));
}

.object-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.object-top {
  -o-object-position: top;
     object-position: top;
}

.p-4 {
  padding: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pb-12 {
  padding-bottom: 3rem;
}

.pb-20 {
  padding-bottom: 5rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.font-sans {
  font-family: Orkney;
}

.text-2xl {
  font-size: 31px;
  line-height: 43.4px;
}

.text-small {
  font-size: 16px;
  line-height: 28px;
}

.text-base {
  font-size: 18px;
  line-height: 27px;
}

.text-lg {
  font-size: 21px;
  line-height: 31.5px;
}

.text-m3xl {
  font-size: 34px;
  line-height: 50.4px;
}

.text-xl {
  font-size: 25px;
  line-height: 35px;
}

.text-m2xl {
  font-size: 28px;
  line-height: 39.2px;
}

.font-light {
  font-weight: 300;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-semibold {
  font-weight: 600;
}

.font-normal {
  font-weight: 400;
}

.uppercase {
  text-transform: uppercase;
}

.leading-tight {
  line-height: 1.25;
}

.text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}

.text-primary {
  --tw-text-opacity: 1;
  color: rgb(9 12 155 / var(--tw-text-opacity));
}

.text-dark {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-secondary {
  --tw-text-opacity: 1;
  color: rgb(255 83 83 / var(--tw-text-opacity));
}

.no-underline {
  text-decoration: none;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.accent-primary {
  accent-color: #090C9B;
}

.shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.drop-shadow-\[0_-20px_25px_rgba\(0\2c 0\2c 0\2c 0\.15\)\] {
  --tw-drop-shadow: drop-shadow(0 -20px 25px rgba(0,0,0,0.15));
  filter: var(--tw-filter);
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition {
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-200 {
  transition-duration: 200ms;
}

.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.alignfull {
  margin: 0.5rem calc(50% - 50vw);
  max-width: 100vw;
  width: 100vw;
}

.alignwide {
  margin-left: -4rem;
  margin-right: -4rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 1280px;
}

.alignnone {
  margin-left: 0px;
  margin-right: 0px;
  height: auto;
  max-width: 100%;
}

.aligncenter {
  margin: 0.5rem auto;
  display: block;
}

@media (min-width: 640px) {
  .alignleft:not(.wp-block-button) {
    margin-right: 0.5rem;
  }

  .alignleft:not(.wp-block-button) {
    float: left;
  }

  .alignright:not(.wp-block-button) {
    margin-left: 0.5rem;
  }

  .alignright:not(.wp-block-button) {
    float: right;
  }

  .wp-block-button.alignleft a {
    float: left;
  }

  .wp-block-button.alignleft a {
    margin-right: 1rem;
  }

  .wp-block-button.alignright a {
    float: right;
  }

  .wp-block-button.alignright a {
    margin-left: 1rem;
  }
}

.wp-caption {
  display: inline-block;
}

.wp-caption img {
  margin-bottom: 0.5rem;
  line-height: 1;
}

.wp-caption-text {
  font-size: 0.9rem;
  color: #4b5563;
}

body {
  font-family: Orkney;
  font-size: 18px;
  line-height: 27px;
}

.wp-block {
  max-width: 1280px;
}

.wp-block[data-align=wide] {
  max-width: 1280px;
}

.wp-block[data-align=full] {
  max-width: 100%;
}

@font-face {
  font-family: "Orkney";

  src: url("Orkney-Medium.woff2");

  font-weight: bold;

  font-style: bold;
}

@font-face {
  font-family: "Orkney";

  src: url('Orkney-Regular.woff2');

  font-weight: normal;

  font-style: normal;
}

ul:not(.block-editor-block-variation-picker__variations) {
  padding-left: 2rem;
}

ul:not(.block-editor-block-variation-picker__variations) li {
    list-style-type: square;
  }

ul:not(.block-editor-block-variation-picker__variations) li {
    line-height: 2rem;
  }

ul:not(.block-editor-block-variation-picker__variations) li::marker {
      --tw-text-opacity: 1;
      color: rgb(255 83 83 / var(--tw-text-opacity));
    }

ol {
  padding-left: 2rem;
}

ol li {
    list-style-type: decimal;
  }

.hover\:border-primaryHover:hover {
  --tw-border-opacity: 1;
  border-color: rgb(58 61 175 / var(--tw-border-opacity));
}

.hover\:border-secondaryHover:hover {
  --tw-border-opacity: 1;
  border-color: rgb(255 117 117 / var(--tw-border-opacity));
}

.hover\:bg-primaryHover:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(58 61 175 / var(--tw-bg-opacity));
}

.hover\:bg-secondaryHover:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 117 117 / var(--tw-bg-opacity));
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus\:ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-primary:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(9 12 155 / var(--tw-ring-opacity));
}

.focus\:ring-secondary:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(255 83 83 / var(--tw-ring-opacity));
}

.focus\:ring-offset-2:focus {
  --tw-ring-offset-width: 2px;
}

.focus\:ring-offset-white:focus {
  --tw-ring-offset-color: #fff;
}

@media (min-width: 640px) {
  .sm\:w-auto {
    width: auto;
  }

  .sm\:rounded-2xl {
    border-radius: 1rem;
  }
}

@media (min-width: 768px) {
  .md\:container-xl {
    margin-inline: auto;
    padding-inline: 1.25rem;
    max-width: 640px;
  }

  @media (min-width: 640px) {
    .md\:container-xl {
      max-width: 640px;
      padding-inline: 2rem;
    }
  }

  @media (min-width: 768px) {
    .md\:container-xl {
      max-width: 768px;
      padding-inline: 1.5rem;
    }
  }

  @media (min-width: 1010px) {
    .md\:container-xl {
      max-width: 1010px;
      padding-inline: 1rem;
    }
  }

  @media (min-width: 1280px) {
    .md\:container-xl {
      max-width: 1180px;
    }
  }

  @media (min-width: 1600px) {
    .md\:container-xl {
      max-width: 1600px;
    }
  }

  .md\:top-\[-100px\] {
    top: -100px;
  }

  .md\:left-\[-200px\] {
    left: -200px;
  }

  .md\:col-start-5 {
    grid-column-start: 5;
  }

  .md\:row-start-1 {
    grid-row-start: 1;
  }

  .md\:m-0 {
    margin: 0px;
  }

  .md\:my-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .md\:my-12 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .md\:my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .md\:my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .md\:mt-0 {
    margin-top: 0px;
  }

  .md\:mt-12 {
    margin-top: 3rem;
  }

  .md\:flex {
    display: flex;
  }

  .md\:h-10 {
    height: 2.5rem;
  }

  .md\:h-\[780px\] {
    height: 780px;
  }

  .md\:h-96 {
    height: 24rem;
  }

  .md\:w-1\/2 {
    width: 50%;
  }

  .md\:w-\[780px\] {
    width: 780px;
  }

  .md\:max-w-\[80\%\] {
    max-width: 80%;
  }

  .md\:translate-x-0 {
    --tw-translate-x: 0px;
    transform: var(--tw-transform);
  }

  .md\:translate-y-0 {
    --tw-translate-y: 0px;
    transform: var(--tw-transform);
  }

  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:items-start {
    align-items: flex-start;
  }

  .md\:items-center {
    align-items: center;
  }

  .md\:justify-start {
    justify-content: flex-start;
  }

  .md\:gap-8 {
    gap: 2rem;
  }

  .md\:bg-transparent {
    background-color: transparent;
  }

  .md\:p-12 {
    padding: 3rem;
  }

  .md\:py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .md\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .md\:pb-40 {
    padding-bottom: 10rem;
  }

  .md\:pt-16 {
    padding-top: 4rem;
  }

  .md\:pb-12 {
    padding-bottom: 3rem;
  }

  .md\:text-3xl {
    font-size: 38px;
    line-height: 53.2px;
  }

  .md\:text-4xl {
    font-size: 48px;
    line-height: 67.2px;
  }

  .md\:shadow-none {
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
}

@media (min-width: 1010px) {
  .lg\:absolute {
    position: absolute;
  }

  .lg\:top-\[-100px\] {
    top: -100px;
  }

  .lg\:left-\[-200px\] {
    left: -200px;
  }

  .lg\:-left-8 {
    left: -2rem;
  }

  .lg\:col-start-7 {
    grid-column-start: 7;
  }

  .lg\:-mx-4 {
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .lg\:mx-3 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }

  .lg\:mt-0 {
    margin-top: 0px;
  }

  .lg\:block {
    display: block;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:h-\[800px\] {
    height: 800px;
  }

  .lg\:w-\[800px\] {
    width: 800px;
  }

  .lg\:items-center {
    align-items: center;
  }

  .lg\:justify-start {
    justify-content: flex-start;
  }

  .lg\:justify-between {
    justify-content: space-between;
  }

  .lg\:bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }

  .lg\:p-0 {
    padding: 0px;
  }

  .lg\:pt-0 {
    padding-top: 0px;
  }
}

@media (min-width: 1280px) {
  .xl\:top-\[-120px\] {
    top: -120px;
  }

  .xl\:left-\[-240px\] {
    left: -240px;
  }

  .xl\:col-start-8 {
    grid-column-start: 8;
  }

  .xl\:h-\[860px\] {
    height: 860px;
  }

  .xl\:w-\[860px\] {
    width: 860px;
  }
}

@media (min-width: 1600px) {
  .\32xl\:top-\[-150px\] {
    top: -150px;
  }

  .\32xl\:left-\[-240px\] {
    left: -240px;
  }

  .\32xl\:h-\[920px\] {
    height: 920px;
  }

  .\32xl\:w-\[920px\] {
    width: 920px;
  }
}