@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "custom.css";

@font-face {
  font-family: "Orkney";
  src: url("Orkney-Medium.woff2");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "Orkney";
  src: url('Orkney-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}