@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "custom.css";

@font-face {
  font-family: 'Orkney';
  src: url('/assets/fonts/Orkney-Regular.woff2');
}

html {
  background: red;
}