/*-- Global --*/

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  @apply scroll-mt-20 md:scroll-mt-28;
}

@font-face {
  font-family: "Karla";
  src: url("Karla-Bold.woff2");
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: "Karla";
  src: url("Karla-Medium.woff2");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "Karla";
  src: url('Karla-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}

.custom-logo-link {
  display: block;
  width: 100%;
  height: 100%;

  & > img {
    max-height: 100%;
    width: auto;
  }
}

/*-- ARTICLE --*/

.entry-header .entry-title {
  @apply text-m3xl md:text-4xl mb-8;
}

.entry-content, .block-editor-block-list__layout {
    h1 {
        @apply text-2xl font-bold mb-4;
    }

    h2 {
        @apply text-xl font-bold mb-4;
    }

    h3 {
        @apply text-lg font-bold mb-4;
    }

    h4 {
      @apply text-lg;
    }

    .has-small-font-size {
      @apply text-small;
    }

    .has-large-font-size {
      @apply text-lg;
    }

    p, ul, ol {
        a {
            @apply text-secondary no-underline font-bold;

            &:hover {
                @apply underline;
            }
        }

        @apply mb-12;
    }

    ul ul {
      @apply mb-0;
    }

    picture, figure {
      @apply mb-12;
    }

    ul:not([class]) {
      @apply pl-8;

        li {
            @apply list-[square] leading-8;

            &::marker {
              @apply text-secondary;
            }
        }
    }

    ol {
      @apply pl-8;

        li {
            @apply list-decimal;
        }
    }

    .espcentrum-contact-link a {
      @apply text-primary
    }
}

/*--- form styling ---*/

.espcentrum-form {

  input, textarea {
    @apply p-4 rounded-2xl resize-none border-gray2 font-semibold accent-primary !important;

    &:focus {
      @apply border-primary !important;
    }

    &.wpforms-error {
      @apply border-secondary !important;
    }
  }

  .wpforms-error {
    @apply text-secondary !important;
  }

  .wpforms-required-label {
    @apply text-secondary font-normal !important;
  }

  input[type="checkbox"], input[type="checkbox"] + label {
    @apply cursor-pointer !important;
  }

  button {
    @apply flex items-center text-center justify-center md:justify-start w-full sm:w-auto flex-none bg-primary text-white py-2 px-4 border border-transparent rounded-2xl focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-primary focus:outline-none hover:bg-primaryHover transition-all duration-200 !important;
  }

  .wpforms-confirmation-container-full, div[submit-success]>.wpforms-confirmation-container-full:not(.wpforms-redirection-message) {
    background: transparent !important;
    border: none !important;
    padding: 0 !important;
    margin-bottom: 0 !important;

    h4 {
      @apply font-bold mb-2 !important;
    }
  }
}

.fade {
  opacity: 0;
  transform: translateY(8px);
}

.appear {
  opacity: 0;
}