@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    @apply font-sans text-base;
}

.wp-block{
    @apply max-w-screen-xl;
}

.wp-block[data-align=wide] {
    @apply max-w-screen-xl;
}

.wp-block[data-align=full] {
    @apply max-w-full;
}

@font-face {
  font-family: "Orkney";
  src: url("Orkney-Medium.woff2");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "Orkney";
  src: url('Orkney-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}

ul:not(.block-editor-block-variation-picker__variations) {
  @apply pl-8;

    li {
        @apply list-[square] leading-8;

        &::marker {
          @apply text-secondary;
        }
    }
}

ol {
  @apply pl-8;
  
    li {
        @apply list-decimal;
    }
}