/*-- FOOTER --*/

.espcentrum-footer {
  h2, h3, h4 {
    @apply font-bold text-base mb-4;
  }

  .menu-item a {
    @apply block underline underline-offset-4 transition-all mb-1 hover:text-secondaryHover hover:underline-offset-[4px] hover:decoration-[2px];
  }

  a {
    @apply hover:underline hover:text-secondaryHover hover:underline-offset-[4px] hover:decoration-[2px];
  }
}

#menu-sub-footer {
  @apply flex  flex-col md:flex-row items-start gap-2 md:gap-8;
}

.main-footer .menu-item {
  position: relative;
}

@media (max-width: 1012px) {
  .wp-block-columns {
    flex-wrap: wrap !important;
  }

  .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column:not(:only-child) {
    flex-basis: 100%!important;
    margin: 0 !important;
  }
}